.grid2x2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.grid2x2 > div {
    display: flex; 
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
}
    .grid2x2 > div > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-left: 5px
}

.container{
    display: flex;
}
.col{
    flex: 1;
    justify-content: center;
    align-items:center
}


.reveal cite{
    position:absolute;
    bottom:0;
    right:0;
    font-size:0.4em
}
